<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Multi:</b>
  <%= @comment.multi_id %>
</p>

<p>
  <b>Multi type:</b>
  <%= @comment.multi_type %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
