<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @vote.photo_id %>
</p>

<p>
  <b>Number of votes:</b>
  <%= @vote.number_of_votes %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
